<body style="background: rgb(210,210,210);
             background: radial-gradient(circle, rgba(210,210,210,1) 00%, rgba(237,237,237,1) 100%);">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <a class="navbar-brand ml-2" href="/main">
            <img src="/electric-guitar.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Guitar Store
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/main">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/main#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/guitars">Guitars</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#top">Modelers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= name %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Saved gear</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/users/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <br><br><br>
    <div class="container-fluid">
        <div class="row guitarow" style="margin-top: 0;">
            <div class="col-md-4">
                <div class="card mt-5">
                    <img src="amps/a1.png" class="card-img-top mt-3" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Line 6 HX Stomp</h5>
                        <h6 class="card-text">569€</h6>
                        <p class="card-text">Multi-effect processor with the helix sound<br>
                            Over 300 effects and models from the Helix, M series and other Line6 products<br>
                            6 Simultaneously usable amplifiers, boxes and effect blocks - including looper and IR
                            loading<br>
                            Coloured LC display<br>
                            Integrated audio interface<br>
                            3 Footswitches with colour-coded LED rings</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mt-5">
                    <img src="amps/a2.png" class="card-img-top mt-3" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Line6 Helix LT</h5>
                        <h6 class="card-text">888€</h6>
                        <p class="card-text">Next generation of Dual DSP-based HX Modeling Engine with 4 discrete stereo
                            signal paths<br>
                            50 Guitar amplifiers<br>
                            12 Bass amplifiers<br>
                            37 Cabs<br>
                            16 Microphones<br>
                            104 Effects<br>
                            Imports IRs (impulse responses) up to 1024/2048 sample lengths<br>
                            12 touch-sensitive foot switches<br>
                            Pedal Edit Mode for freehand editing</p>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mt-5">
                    <img src="amps/a3.jpg" class="card-img-top mt-3" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Line6 Helix</h5>
                        <h6 class="card-text">1,500€</h6>
                        <p class="card-text">Next generation dual DSP based HX Modeling Engine with 4 discreet
                            stereo-signal paths<br>
                            50 Guitar amp models, 12 bass amp models, 37 speakers, 16 microphones and 104 effects<br>
                            Imported IRs (impulse responses) with up to 1024 / 2048 samples<br>
                            12 Pressure sensitive foot switches for editing<br>
                            The Hands Free Pedal Edit mode sets the effects parameters onto the switch and expression
                            pedal</p>

                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row guitarow">
            <div class="col-md-4">
                <div class="card mt-5">
                    <img src="amps/a4.jpg" class="card-img-top mt-3" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Line 6 Helix Rack</h5>
                        <h6 class="card-text">1,299€</h6>
                        <p class="card-text">Next-generation dual DSP-based HX modeling engine with four discrete stereo
                            signal paths<br>
                            45 Amps, 30 speakers, 16 microphones and 70 effects<br>
                            Imported IRs (impulse responses) with up to 1024/2048 samples<br>
                            Up to 3 expression pedals<br>
                            CV / Expression output<br>
                            Amplifier switching outputs and extensive MIDI control<br>
                            Extensive inputs and outputs for the seamless integration of the entire rig<br>
                            10 Inputs and 12 outputs (including 4 FX loops)<br>
                            8 In/8 Out USB Audio Interface</p>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mt-5">
                    <img src="amps/a5.jpg" class="card-img-top mt-3" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Fractal Audio Axe-Fx III</h5>
                        <h6 class="card-text">2,599€</h6>
                        <p class="card-text">Fractal Audio Systems’ new flagship processor brings more power, features,
                            and upgrades than ever before. The Axe-Fx III is the latest in a line of legends — the
                            world’s most powerful all-in-one processor for guitar, bass, and other instruments.
                            Featuring Fractal Audio's latest amp modeling technology, thousands of UltraRes™ speaker cab
                            simulations, and industry-leading effects, the Axe-Fx III has more raw power and features
                            than any guitar processor ever created.
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mt-5">
                    <img src="amps/a6.jpg" class="card-img-top mt-3" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Fractal Audio FM3</h5>
                        <h6 class="card-text">1,200€</h6>
                        <p class="card-text">Now you can get Fractal Audio’s industry-leading amp and cab modeling, plus
                            a suite of stompbox and studio effects, a powerful foot controller, 4×4 USB audio — and more
                            — all in a compact, rugged, all-in-one, floor unit designed for the studio or stage.</p>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row guitarow">
            <div class="col-md-4">
                <div class="card mt-5">
                    <img src="amps/a7.jpg" class="card-img-top mt-3" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Kemper Profiler Head</h5>
                        <h6 class="card-text">1,666€</h6>
                        <p class="card-text">But what if you want to place the factory sound with your own favourite
                            personal sounds? Before the appearance of the Kemper Profiling Amps there were basically not
                            many alternatives: you could either drag (before the digital revolution) all of your
                            equipment from place to place, or you could do your best to adapt the factory sounds of the
                            modelling amp as much as possible to your own desires.</p>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mt-5">
                    <img src="amps/a8.jpg" class="card-img-top mt-3" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Kemper Profiler Stage</h5>
                        <h6 class="card-text">1,590€</h6>
                        <p class="card-text">The Kemper Profiling technique allows the creation of a very precise sonic
                            image (profile) of an existing amplifier configuration (including speaker and microphone
                            pickup). Thanks to the many internal editing options, such as various ground effect
                            emulations (up to 4 simultaneously), master effects, equalizers, gain, amp definition, power
                            sagging, etc., you can then edit the created sound far beyond the capabilities of the
                            original amplifier.</p>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
            </div>
        </div>

        <br>

        <nav class="navbar navbar-primary bg-light mt-5 justify-content-center">
            <a href="#top"><span class="navbar-text">
                    Copyright © 2020 by Maks Guitar Store. No rights reserved.
                </span></a>
        </nav>
    </div>
</body>