<body style="background: rgb(210,210,210);
             background: radial-gradient(circle, rgba(210,210,210,1) 00%, rgba(237,237,237,1) 100%);">
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand ml-2" href="#">
      <img src="/electric-guitar.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Guitar Store
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/main">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/main#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills">Guitars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Amps</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <%= name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Saved gear</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/users/logout">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <br><br><br>
  <div class="container-fluid">
    <div class="row guitarow" style="margin-top: 0;">
      <div class="col-md-4">
        <div class="card mt-5">
          <img src="guitars/g1.png" class="card-img-top mt-3" alt="...">
          <div class="card-body">
            <h5 class="card-title">Skervesen Raptor 6</h5>
            <h6 class="card-text">2,269€</h6>
            <p class="card-text">Raptor 6 is available either as NTB or bolt-on contruction. Raptor is our most popular
              model. It is a very versatile instrument of classic design. With wide array of option available it may
              become what any player seeks for himself.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mt-5">
          <img src="guitars/g2.png" class="card-img-top mt-3" alt="...">
          <div class="card-body">
            <h5 class="card-title">Skervesen Raptor 7</h5>
            <h6 class="card-text">2,320€</h6>
            <p class="card-text">Raptor 7 is available either as NTB or bolt-on contruction. Raptor is our most popular
              model, a vary versatile instrument of classic design. With wide array of option available it may become
              what any player seeks for himself.</p>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mt-5">
          <img src="guitars/g3.png" class="card-img-top mt-3" alt="...">
          <div class="card-body">
            <h5 class="card-title">Skervesen Raptor 7</h5>
            <h6 class="card-text">2,519€</h6>
            <p class="card-text">Raptor 8 is available either as NTB or bolt-on contruction. Raptor is our most popular
              model. It is a very versatile instrument of classic design. With wide array of option available it may
              become what any player seeks for himself.</p>

          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row guitarow">
      <div class="col-md-4">
        <div class="card mt-5">
          <img src="guitars/g4.png" class="card-img-top mt-3" alt="...">
          <div class="card-body">
            <h5 class="card-title">Skervesen Mirage 7</h5>
            <h6 class="card-text">2,610€</h6>
            <p class="card-text">We would like to introduce a new model for 2018 Mirage. It is a nod to more versatile
              and balanced approach in terms of tone and design. Mirage is a fusion of our most successful solutions
              with guitarwork’s legacy.</p>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mt-5">
          <img src="guitars/g5.png" class="card-img-top mt-3" alt="...">
          <div class="card-body">
            <h5 class="card-title">Skervesen Shoggie 6 DC Bolt-on</h5>
            <h6 class="card-text">2,349€</h6>
            <p class="card-text">Shoggie 6 DC Bolt-on is a very lightweight, ergonomic and elegant guitar. It’s small
              appearance conceals a huge spirit. We don’t offer chambering for this model. Available as bolt-on
              construction.</p>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mt-5">
          <img src="guitars/g6.png" class="card-img-top mt-3" alt="...">
          <div class="card-body">
            <h5 class="card-title">Skervesen Shoggie DC 7 Bolt-on</h5>
            <h6 class="card-text">2,469€</h6>
            <p class="card-text">Shoggie DC 7 Bolt-on is a very lightweight, ergonomic and elegant guitar. It’s small
              appearance conceals a huge spirit. We don’t offer chambering for this model. Available as bolt-on
              construction.</p>


          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row guitarow">
      <div class="col-md-4">
        <div class="card mt-5">
          <img src="guitars/g7.png" class="card-img-top mt-3" alt="...">
          <div class="card-body">
            <h5 class="card-title">Skervesen Shoggie DC 8 Bolt-on</h5>
            <h6 class="card-text">2,669€</h6>
            <p class="card-text">Shoggie DC 8 Bolt-on is a very lightweight, ergonomic and elegant guitar. It’s small
              appearance conceals a huge spirit. We don’t offer chambering for this model. Available as bolt-on
              construction.</p>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mt-5">
          <img src="guitars/g8.png" class="card-img-top mt-3" alt="...">
          <div class="card-body">
            <h5 class="card-title">Skervesen Shoggie 6/7/8 DC Neck-thru</h5>
            <h6 class="card-text">2,800€</h6>
            <p class="card-text">Available as NTB construction. A very lightweight, ergonomic and elegant guitar. It’s
              small appearance conceals a huge spirit. We don’t offer chambering for this model.</p>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mt-5">
          <img src="guitars/g9.jpg" class="card-img-top mt-3" alt="...">
          <div class="card-body">
            <h5 class="card-title">Skervesen Raptor 7</h5>
            <h6 class="card-text">2,320€</h6>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row guitarow">
      <div class="col-md-4">
        <div class="card mt-5">
          <img src="guitars/g10.jpg" class="card-img-top mt-3" alt="...">
          <div class="card-body">
            <h5 class="card-title">Skervesen Raptor 7</h5>
            <h6 class="card-text">2,320€</h6>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mt-5">
          <img src="guitars/g11.jpg" class="card-img-top mt-3" alt="...">
          <div class="card-body">
            <h5 class="card-title">Skervesen Raptor 7</h5>
            <h6 class="card-text">2,320€</h6>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mt-5">
          <img src="guitars/g12.jpg" class="card-img-top mt-3" alt="...">
          <div class="card-body">
            <h5 class="card-title">Skervesen Raptor 7</h5>
            <h6 class="card-text">2,320€</h6>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row guitarow">
      <div class="col-md-4">
        <div class="card mt-5">
          <img src="guitars/g13.jpg" class="card-img-top mt-3" alt="...">
          <div class="card-body">
            <h5 class="card-title">Skervesen Raptor 7</h5>
            <h6 class="card-text">2,320€</h6>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mt-5">
          <img src="guitars/g14.jpg" class="card-img-top mt-3" alt="...">
          <div class="card-body">
            <h5 class="card-title">Skervesen Raptor 7</h5>
            <h6 class="card-text">2,320€</h6>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mt-5">
          <img src="guitars/g15.jpg" class="card-img-top mt-3" alt="...">
          <div class="card-body">
            <h5 class="card-title">Skervesen Raptor 7</h5>
            <h6 class="card-text">2,320€</h6>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row guitarow">
      <div class="col-md-4">
        <div class="card mt-5">
          <img src="guitars/g16.jpg" class="card-img-top mt-3" alt="...">
          <div class="card-body">
            <h5 class="card-title">Skervesen Raptor 7</h5>
            <h6 class="card-text">2,320€</h6>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mt-5">
          <img src="guitars/g18.jpg" class="card-img-top mt-3" alt="...">
          <div class="card-body">
            <h5 class="card-title">Skervesen Raptor 7</h5>
            <h6 class="card-text">2,320€</h6>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mt-5">
          <img src="guitars/g17.jpg" class="card-img-top mt-3" alt="...">
          <div class="card-body">
            <h5 class="card-title">Skervesen Raptor 7</h5>
            <h6 class="card-text">2,320€</h6>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <nav class="navbar navbar-primary bg-light mt-5">
      <a href="#top"><span class="navbar-text">
          Copyright © 2020 by Maks Guitar Store. No rights reserved.
        </span></a>
    </nav>
</body>