<div class="row mt-5">
	<div class="col-md-6 col-lg-4 m-auto">
		<div class="card card-body text-center">
			<h1><img src="/electric-guitar.png" width="150" height="150" class="d-inline-block align-top" alt=""></h1>
			<h3>Welcome to Maks's Music Store</h3>
			<p>Login or create an account</p>
			<a href="/users/login" class="btn btn-primary btn-block mb-2">Login</a>
			<a href="/users/register" class="btn btn-secondary btn-block">Register</a>
		</div>
	</div>
</div>